const char* configWifiSsid = "***";
const char* configWifiPassword = "***";

const String configWeatherSid1 = "***";
const String configWeatherSid2 = "***";

const IPAddress configWeatherHubIp(192, 168, 1, *);

// https://openweathermap.org/
const String configOwmUrl = "http://api.openweathermap.org/data/2.5/weather?id=472045&units=metric&lang=en&appid=***";